{% extends 'clientsite/base.html' %}

{% block content %}
<div class="main-page-wrapper">

<div class="container">
    <div class="row content-layout-wrapper align-items-start">
        <div class="site-content col-lg-12 col-12 col-md-12" role="main">
            <article id="post-4439" class="post-4439 page type-page status-publish hentry">
                <div class="entry-content">
                    <div data-elementor-type="wp-page" data-elementor-id="4439" class="elementor elementor-4439">
                        <div class="elementor-inner">
                            <div class="elementor-section-wrap">
                                <section class="elementor-section elementor-top-section elementor-element elementor-element-d9ef4c2 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default wd-section-disabled" data-id="d9ef4c2" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-row">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-51fac75" data-id="51fac75" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-7112769 elementor-section-boxed elementor-section-height-default elementor-section-height-default wd-section-disabled" data-id="7112769" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-default">
                                                                <div class="elementor-row">
                                                                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f1f4c4e" data-id="f1f4c4e" data-element_type="column">
                                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-ac4c5b6 elementor-widget elementor-widget-wd_infobox" data-id="ac4c5b6" data-element_type="widget" data-widget_type="wd_infobox.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="info-box-wrapper">
                                                                                            <div class="wd-info-box text-left box-icon-align-left box-style-base color-scheme- wd-items-top cursor-pointer" onclick="window.location.href='tel:0720224770'">
                                                                                                <div class="box-icon-wrapper  box-with-icon box-icon-with-bg">
                                                                                                    <div class="info-box-icon">
                                                                                                        <img decoding="async" class="wd-lazy-load wd-lazy-fade" src="../../static/images/write-us.png" /> </div>
                                                                                                    </div>
                                                                                                    <div class="info-box-content">
                                                                                                        <h4 class="info-box-title title box-title-style-default wd-fontsize-m" data-elementor-setting-key="title">
                                                                                                        Call us </h4>
                                                                                                        <div class="info-box-inner set-cont-mb-s reset-last-child" data-elementor-setting-key="content">
                                                                                                            <div class="item">
                                                                                                                <div class="list-header">
                                                                                                                    <div class="text-wrap">
                                                                                                                        <div class="text">0720 224770</div>
                                                                                                                        <div class="text">0707 817816</div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-a42a4c2" data-id="a42a4c2" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                            <div class="elementor-element elementor-element-1bfcbaf elementor-widget elementor-widget-wd_infobox" data-id="1bfcbaf" data-element_type="widget" data-widget_type="wd_infobox.default">
                                <div class="elementor-widget-container">
                                    <div class="info-box-wrapper">
                                        <div class="wd-info-box text-left box-icon-align-left box-style-base color-scheme- wd-items-top cursor-pointer" onclick="window.location.href='tel:0720224770'">
                                            <div class="box-icon-wrapper  box-with-icon box-icon-with-bg">
                                                <div class="info-box-icon">
                                                    <img decoding="async" class="wd-lazy-load wd-lazy-fade" src="../../static/images/write-us.png" /> </div>
                                                </div>
                                                <div class="info-box-content">
                                                    <h4 class="info-box-title title box-title-style-default wd-fontsize-m" data-elementor-setting-key="title">
                                                    Write Us </h4>
                                                    <div class="info-box-inner set-cont-mb-s reset-last-child" data-elementor-setting-key="content">
                                                        <div class="item">
                                                            <div class="list-header">
                                                                <div class="text-wrap">
                                                                    <div class="text">
                                                                        <div class="item">
                                                                            <div class="list-header">
                                                                                <div class="text-wrap">
                                                                                    <div class="text">
                                                                                        <a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="c6afa8a0a986a3b2a3a5aee8a5a9e8ada3">printlabtechnologies@gmail.com</a></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="item">
                                                                                <div class="list-header">
                                                                                    <div class="text-wrap">
                                                                                        <div class="text">
                                                                                            <a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="593c2d3c3a313a3629303c2b2a352d3d193e34383035773a3634">printlabtechnologies@gmail.com</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-02ce73e" data-id="02ce73e" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                <div class="elementor-element elementor-element-1538749 elementor-widget elementor-widget-wd_infobox" data-id="1538749" data-element_type="widget" data-widget_type="wd_infobox.default">
                <div class="elementor-widget-container">
                <div class="info-box-wrapper">
                <div class="wd-info-box text-left box-icon-align-left box-style-base color-scheme- wd-items-top cursor-pointer" onclick="window.location.href='tel:0720224770'">
                <div class="box-icon-wrapper  box-with-icon box-icon-with-bg">
                <div class="info-box-icon">
                <img decoding="async" class="wd-lazy-load wd-lazy-fade" src="../../static/images/visit-shop.png" /> </div>
                </div>
                <div class="info-box-content">
                <h4 class="info-box-title title box-title-style-default wd-fontsize-m" data-elementor-setting-key="title">
                Visit Our Shop </h4>
                <div class="info-box-inner set-cont-mb-s reset-last-child" data-elementor-setting-key="content">
                <div class="item">
                <div class="list-header">
                <div class="text-wrap">
                <div class="text">2nd Flr, Rm 205, Ramogi House, Luthuli Avenue, Nairobi </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </section>
                </div>
                </div>
                </div>
                </div>
                </div>
                </section>
                <section class="wd-negative-gap elementor-section elementor-top-section elementor-element elementor-element-1c9344a2 elementor-section-boxed elementor-section-height-default elementor-section-height-default wd-section-disabled" data-id="1c9344a2" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a4e7846" data-id="a4e7846" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                <div class="elementor-element elementor-element-cfdf50a elementor-widget elementor-widget-image" data-id="cfdf50a" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container">
                <style>/*! elementor - v3.11.5 - 14-03-2023 */
                .elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}</style> <div class="elementor-image">
                <img decoding="async" width="300" height="300" src="../wp-content/themes/woodmart/images/lazy.png" class="attachment-full size-full wp-image-15527 wd-lazy-load wd-lazy-fade" alt="" loading="lazy" srcset="" sizes="(max-width: 300px) 100vw, 300px" data-wood-src="https://etech.co.ke/wp-content/uploads/2022/09/Get-in-touch-bro-e1662563036754.png" data-srcset="https://etech.co.ke/wp-content/uploads/2022/09/Get-in-touch-bro-e1662563036754.png 300w, https://etech.co.ke/wp-content/uploads/2022/09/Get-in-touch-bro-e1662563036754-150x150.png 150w, https://etech.co.ke/wp-content/uploads/2022/09/Get-in-touch-bro-e1662563036754-64x64.png 64w" /> </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-41bec3dc" data-id="41bec3dc" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                <div class="elementor-element elementor-element-88ca337 elementor-widget elementor-widget-wd_title" data-id="88ca337" data-element_type="widget" data-widget_type="wd_title.default">
                <div class="elementor-widget-container">
                <div class="title-wrapper set-mb-s reset-last-child wd-title-color-default wd-title-style-default wd-title-size-default text-left">
                <div class="title-subtitle subtitle-color-default subtitle-style-default wd-fontsize-xs">
                Questions, requests and feedback are all welcome! </div>
                <div class="liner-continer">
                <h4 class="woodmart-title-container title wd-fontsize-l"><span style="font-family: Jost;font-size: 24px;font-style: normal;font-weight: 500">We would love to hear from you</span></h4>
                </div>
                </div>
                </div>
                </div>
                <div class="elementor-element elementor-element-a4018ca elementor-widget elementor-widget-wpforms" data-id="a4018ca" data-element_type="widget" data-widget_type="wpforms.default">
                <div class="elementor-widget-container">
                <div class="wpforms-container " id="wpforms-13492">
                    <form id="wpforms-form-13492" class="wpforms-validate wpforms-form wpforms-ajax-form" data-formid="13492" method="post" enctype="multipart/form-data" action="" data-token="b4a05fe5b91ceb50e40be7e733e08b9c">
                        {% csrf_token %}
                        <noscript class="wpforms-error-noscript">Please enable JavaScript in your browser to complete this form.</noscript>
                        <div class="wpforms-field-container">
                            <div id="wpforms-13492-field_0-container" class="wpforms-field wpforms-field-name" data-field-id="0">
                                    <label class="wpforms-field-label wpforms-label-hide" for="wpforms-13492-field_0">
                                        Name
                                        <span class="wpforms-required-label">*</span>
                                    </label>
                                <input type="text" id="wpforms-13492-field_0" class="wpforms-field-medium wpforms-field-required" name="name" placeholder="Name" required>
                            </div>
                            <div id="wpforms-13492-field_1-container" class="wpforms-field wpforms-field-email" data-field-id="1">
                                <label class="wpforms-field-label wpforms-label-hide" for="wpforms-13492-field_1">
                                    Email 
                                    <span class="wpforms-required-label">*</span>
                                </label>
                                <input type="email" id="wpforms-13492-field_1" class="wpforms-field-medium wpforms-field-required" name="email" placeholder="Email" required>
                            </div>
                            <div id="wpforms-13492-field_4-container" class="wpforms-field wpforms-field-text" data-field-id="4">
                                <label class="wpforms-field-label wpforms-label-hide" for="wpforms-13492-field_4">
                                    Phone No.
                                </label>
                                <input type="text" id="wpforms-13492-field_4" class="wpforms-field-medium" name="phone" placeholder="Phone No.">
                            </div>
                            <div id="wpforms-13492-field_2-container" class="wpforms-field wpforms-field-textarea" data-field-id="2">
                                <label class="wpforms-field-label wpforms-label-hide" for="wpforms-13492-field_2">
                                    Comment or Message
                                </label>
                                <textarea id="wpforms-13492-field_2" class="wpforms-field-medium" name="message" placeholder="Comment or Message"></textarea>
                            </div>
                        </div>
                        <div class="wpforms-submit-container">
                            <input type="hidden" name="wpforms[id]" value="13492">
                            <input type="hidden" name="wpforms[author]" value="1">
                            <input type="hidden" name="wpforms[post_id]" value="4439">
                            <button type="submit" class="checkout-button button alt wc-forward wp-element-button">
                                Submit
                            </button>
                            <img decoding="async" src="../wp-content/plugins/wpforms-lite/assets/images/submit-spin.svg" class="wpforms-submit-spinner" style="display: none;" width="26" height="26" alt="Loading">
                        </div>
                    </form>
                </div>  </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </section>
                </div>
                </div>
                </div>
                </div>
            </article>
            </div>
        </div>
    </div> 
</div> 

{% endblock %}