 {% extends 'clientsite/base.html' %}

 {% block content %}
<div class="main-page-wrapper">

<div class="container">
<div class="row content-layout-wrapper align-items-start">
<div class="site-content col-lg-9 col-12 col-md-9" role="main">
<article id="post-10" class="post-10 page type-page status-publish hentry">
<div class="entry-content">
<p><strong>Overview</strong></p>
<p>Our refund and returns policy lasts 14 days for Photocopiers and Printers, and 48hrs for consumables (Toners, developers, ink). If these times have passed since your purchase, we can’t offer you a full refund or exchange.</p>
<p>To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</p>
<p>To complete your return, we require a receipt or proof of purchase.</p>
<p>Please do not send your purchase back to the manufacturer.</p>
<p>There are certain situations where only partial refunds are granted:</p>
<p>Any item not in its original condition, is damaged, or missing parts for reasons not due to our error.<br>Any item that is returned more than 14 days after delivery.</p>
<p><br><strong>Refunds</strong><br>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.</p>
<p>If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within 14 days.</p>
<p>Late or missing refunds</p>
<p>If you haven’t received a refund yet, first check your bank account again.</p>
<p>Then contact your credit card company, it may take some time before your refund is officially posted.</p>
<p>Next contact your bank. There is often some processing time before a refund is posted.</p>
<p>If you’ve done all of this and you still have not received your refund yet, please contact us at <a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="681b09040d1b280d1c0d0b00460b0746030d">[email&#160;protected]</a> or call us on 0720224770.</p>
<p><strong>Exchanges</strong><br>We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email at <a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="6f1c0e030a1c2f0a1b0a0c07410c0041040a">[email&#160;protected]</a> or call us on 0720224770, and send your item to: Rm 207, 2nd Flr, Old Ramogi hse, Luthuli Avenue, Nairobi.</p>
<p><strong>Shipping returns<br></strong>To return your product, you should send your product to: Rm 207, 2nd Flr, Old Ramogi hse, Luthuli Avenue, Nairobi.</p>
<p>You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.</p>
<p>Depending on where you live, the time it may take for your exchanged product to reach you may vary.</p>
<p>If you are returning more expensive items, you may consider using a trackable shipping service or purchasing shipping insurance.</p>
<p><strong>Need help?<br></strong>Contact us at <a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="a0c9cec6cfe0c5d4c5c3c88ec3cf8ecbc5">[email&#160;protected]</a> or call us on 0720224770. for questions related to refunds and returns.</p>
</div>
</article>
</div>
<aside class="sidebar-container col-lg-3 col-md-3 col-12 order-last sidebar-right area-sidebar-1">
<div class="wd-heading">
<div class="close-side-widget wd-action-btn wd-style-text wd-cross-icon">
<a href="#" rel="nofollow noopener">Close</a>
</div>
</div>
<div class="widget-area">
<div id="categories-1" class="wd-widget widget sidebar-widget widget_categories"><h5 class="widget-title">Categories</h5>
<ul>
<li class="cat-item cat-item-345"><a href="../category/inksider-tips/index.html">Inksider Tips</a>
</li>
<li class="cat-item cat-item-323"><a href="../category/maintenance-and-care-tips/index.html">Maintenance and Care tips</a>
</li>
<li class="cat-item cat-item-321"><a href="../category/printer-and-photocopier-features/index.html">Printer and Photocopier Features</a>
</li>
<li class="cat-item cat-item-322"><a href="../category/printer-and-photocopier-shopping/index.html">Printer and Photocopier Shopping</a>
</li>
<li class="cat-item cat-item-329"><a href="../category/understand-your-machine/index.html">Understand your machine</a>
</li>
</ul>
</div><div id="woodmart-recent-posts-2" class="wd-widget widget sidebar-widget woodmart-recent-posts"><h5 class="widget-title">Recent Posts</h5> <ul class="woodmart-recent-posts-list">
<li>
<a class="recent-posts-thumbnail" href="../simple-ways-to-stay-safe-online/index.html" rel="bookmark">
<img class="wd-lazy-load wd-lazy-fade" src="../wp-content/themes/woodmart/images/lazy.png" data-wood-src="https://etech.co.ke/wp-content/uploads/elementor/thumbs/Simple-Ways-to-Stay-Safe-Online-ptl2kqqwzzlbt7rkchpgawz8eatubh765rk8qrfuiy.webp" title="Simple-Ways-to-Stay-Safe-Online" alt="Simple-Ways-to-Stay-Safe-Online" loading="lazy" /> </a>
<div class="recent-posts-info">
<div class="wd-entities-title title"><a href="../simple-ways-to-stay-safe-online/index.html" title="Permalink to Simple Ways to Stay Safe Online" rel="bookmark">Simple Ways to Stay Safe Online</a></div>
<time class="recent-posts-time" datetime="2022-02-08T20:10:34+03:00">February 8, 2022</time>
<a class="recent-posts-comment" href="../simple-ways-to-stay-safe-online/index.html#respond">No Comments</a> </div>
</li>
<li>
<a class="recent-posts-thumbnail" href="../the-influence-of-typewriters/index.html" rel="bookmark">
<img class="wd-lazy-load wd-lazy-fade" src="../wp-content/themes/woodmart/images/lazy.png" data-wood-src="https://etech.co.ke/wp-content/uploads/elementor/thumbs/The-Influence-of-typewriters-in-printing-today-ptl2mzl1bqnzjoi58gnd9ckvhfrepg434vo00k3znu.webp" title="The-Influence-of-typewriters-in-printing-today" alt="The-Influence-of-typewriters-in-printing-today" loading="lazy" /> </a>
<div class="recent-posts-info">
<div class="wd-entities-title title"><a href="../the-influence-of-typewriters/index.html" title="Permalink to The Influence of Typewriters" rel="bookmark">The Influence of Typewriters</a></div>
<time class="recent-posts-time" datetime="2022-01-20T16:46:22+03:00">January 20, 2022</time>
<a class="recent-posts-comment" href="../the-influence-of-typewriters/index.html#respond">No Comments</a> </div>
</li>
<li>
<a class="recent-posts-thumbnail" href="../basic-it-skills-you-should-know-to-excel-in-printing/index.html" rel="bookmark">
<img class="wd-lazy-load wd-lazy-fade" src="../wp-content/themes/woodmart/images/lazy.png" data-wood-src="https://etech.co.ke/wp-content/uploads/elementor/thumbs/Basic-IT-Skills-you-Should-Know-to-excel-in-Printing-ptl2ox53dhb7etp3yaprdv0zfy8kj1s82fxxj18uve.webp" title="Basic IT Skills you Should Know to excel in Printing" alt="Basic IT Skills you Should Know to excel in Printing" loading="lazy" /> </a>
<div class="recent-posts-info">
<div class="wd-entities-title title"><a href="../basic-it-skills-you-should-know-to-excel-in-printing/index.html" title="Permalink to Basic IT Skills you Should Know to excel in Printing" rel="bookmark">Basic IT Skills you Should Know to excel in Printing</a></div>
<time class="recent-posts-time" datetime="2022-01-19T08:31:37+03:00">January 19, 2022</time>
<a class="recent-posts-comment" href="../basic-it-skills-you-should-know-to-excel-in-printing/index.html#respond">No Comments</a> </div>
</li>
</ul>
</div><div id="recent-comments-4" class="wd-widget widget sidebar-widget widget_recent_comments"><h5 class="widget-title">Recent Comments</h5><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link"><a href='../index.html' rel='external nofollow ugc' class='url'>Evans</a></span> on <a href="../6-opportunities-in-the-printing-industry-for-2022/index.html#comment-1112">6 Profitable Opportunities in the Kenyan Printing Industry for 2022</a></li><li class="recentcomments"><span class="comment-author-link">Rehema Mugambi Mukiri</span> on <a href="../6-opportunities-in-the-printing-industry-for-2022/index.html#comment-1066">6 Profitable Opportunities in the Kenyan Printing Industry for 2022</a></li><li class="recentcomments"><span class="comment-author-link">Issah</span> on <a href="../3-cyber-shop-success-tips/index.html#comment-29">3 Cyber Shop Success Tips</a></li></ul></div> </div>
</aside>
</div>
</div> 
</div> 
{% endblock %}