{% extends 'clientsite/base.html' %}

{% block content %}
<div class="main-page-wrapper">

<div class="container">
<div class="row content-layout-wrapper align-items-start">
<div class="site-content col-lg-12 col-12 col-md-12" role="main">
<article id="post-60" class="post-60 page type-page status-publish hentry">
<div class="entry-content">
<div class="">
<div class="wd-wishlist-content">
<p class="wd-empty-wishlist wd-empty-page">
This wishlist is empty. </p>
<div class="wd-empty-page-text">
You don't have any products in the wishlist yet. <br> You will find a lot of interesting products on our "Shop" page. </div>
<p class="return-to-shop">
<a class="button" href="../shop/index.html">
Return to shop </a>
</p>
</div>
</div>
</div>
</article>
</div>
</div>
</div> 
</div> 
{% endblock %}